html {
    font-size: 16px;
    font-family: emoji;
    scroll-padding-top: 3rem;
    color:rgb(77, 59, 59);
}

body {
    background-color: #efefef;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(77, 59, 59)
}

nav a{
    flex: 1;
    text-align: center;
    justify-content: center;
    margin: 0.25em;
    padding: 0.25em;
    text-decoration: none;
    color:lemonchiffon;
}

nav a:hover {
    color:rgb(199,170,130);
}

@media (min-width: 600px) {
    nav { flex-direction: row; 
        font-size:xx-large;}
}

.card-container {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1rem;
}

.card {
    display: grid;
    box-shadow: 0px 1px 5px #555;
    background-color: white;
}

.card-thumbnail img {
    max-width: 100%;
}

.card-title {
    padding: .5rem;
    line-height: 1.6em;
    font-size:x-large;
    align-self: end;
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: 1s ease-out;
    background-color: rgb(77, 59, 59);
}

.card-title:hover {
    filter: brightness(90%);
    color: rgb(77, 59, 59);
    background-color:rgb(199,170,130);
}

#bannerImage {
    width: 100%;
}

#error {
    color: red;
    font-style: italic;
    font-weight: bolder;
    visibility:hidden;
}

footer {
    font-style: italic;
}
